<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Todo List</title>
    </head>
    <body>
        <div id="app" class="container" :class="{'dark-mode': darkMode}">
            <div class="logo">
                <img src="img/logo.svg" alt="">
            </div>
            <button @click="darkMode = !darkMode">Dark Mode</button>
            <div class="new-todo">
                <form @submit.prevent="addTodo()">
                    <input type="text" placeholder="Nuovo Todo *" v-model="newTodo" required/>
                    <button type="submit">Aggiungi</button>
                </form>
            </div>

            <div class="todos-container">
                <ul v-if="todos.length > 0">
                    <li class="todo" v-for="(todo, index) in todos" :class="{done: todo.done}">
                        <span @click="todo.done = !todo.done">{{ todo.text }}</span> <i @click="removeTodo(index)" class="fas fa-times"></i>
                    </li>
                </ul>
                <h2 v-else>Non sono presenti todo</h2>
                <ul>
                    <li v-for="todo in todoDone">{{todo.text}}</li>
                </ul>
            </div>
        </div>

        <script src="main.js"></script>
    </body>
</html>
